.body {
    border: 2px solid red;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.columns {
    border: 2px solid blue;
    margin: 50px;
    padding: 50px;
    margin-bottom: 50px;
    height: 1000px;
    display: flex;
    justify-content:space-around;
    background-color: darkgrey;

}
.left_column, .right_column {
    margin: 20px;
    padding: 10px;
}

.profile_pic {
    border: 2px solid blue;
    background-color: white;
    width: 90%;
    height: 250px;
    margin: 15px;
}

.profile_profile, .profile_phone, .profile_email, .profile_web {
    color: white;
    margin: 10px;
}

.profile_profile_p, .profile_phone_p, .profile_email_p, .profile_web_p {
    color: grey;
    margin: 15px;
}


.left_column {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    background-color: darkslategrey;
    width: 300px;
}

.right_column {
    border: 2px solid red;
    background-color: white;
    width: 500px;
}

.footer_div {
    border: 2px solid red;
    width: 1000px;
    height: 100px;
    background-color: darkslategrey;
}