.body {
    border: 2px solid red;
    background-color: #d0efff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.columns {
    border: 2px solid blue;
    margin: 50px;
    padding: 50px;
    margin-bottom: 50px;
    height: 1000px;
    display: flex;
    justify-content:space-around;
    background-color: #03254c;
    width: 

}
.left_column, .right_column {
    margin: 20px;
    padding: 10px;
}

.profile_pic {
    background-color: white;
    width: 90%;
    height: 250px;
    margin: 15px;
}

#profileHeader, #phoneHeader, #emailHeader, #webHeader {
    color: white;
    margin: 10px;
    border-bottom: 2px solid black;
}


.columns, .left_column, .right_column {
    border-radius: 10px;
}

.left_column {
    display: flex;
    flex-direction: column;
    background-color: #187bcd;
    width: 300px;
}

.right_column {
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: #2a9df4;
    color:white;
    width: 450px;
}


#educationHeader, #experienceHeader, #knowledgeHeader {
    border-bottom: 2px solid black;
    width: 300px;
}

#hiddenDiv {
    position: absolute;
    visibility: hidden;
    width: 0px;
    height: 0px;
    background-color: white;
    border: 2px solid purple;
    transition:width 1s, height 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.hiddenProfileDiv {
    width: 600px;
    height: 600px;
    border: 1px solid blue;
}

#closeProfileButton {
    width: 100px;
    margin: 20px;
}